{{> header }}

	<div class="contents">
	
		<div>
			{{{ contents }}}

			<div>
				{{#if this.prev}}	
					<a href="/{{this.prev.path}}">&lt;&lt;  {{this.prev.title}}</a>
				{{/if}}

				{{#if this.next}}	
					<a href="/{{this.next.path}}">{{this.next.title}} &gt;&gt;</a>
				{{/if}}
			</div>
		</div>

	<aside>
		<h3>Facts</h3>
		<ul>
			<li>Rating: {{this.rating}}</li>
			<li>Wi-Fi: {{this.wifi}}</li>
			<li>Laptop friendly: {{this.laptop_friendly}} (power sockets: {{this.power}})</li>
			<li>Noisy: {{this.noisy}}</li>
			{{#if this.toilet}}<li>Toilet: {{this.toilet}}</li>{{/if}}
			<li>Last visited: {{this.date}}</li>
			{{#if this.website}}<li><a href="{{this.website}}">{{this.website}}</a></li>{{/if}}
		</ul>
		<h4>Address</h4>
		<p>{{ this.address }}<br />
			{{ this.geocoded.country }}</p>
		<h4>Coordinates</h4>
		<p><span class="p-latitude">{{this.geocoded.latitude}}</span> N, <span class="p-longitude">{{this.geocoded.longitude}}</span> W<br />
		<a href="https://maps.google.com/maps?ll={{this.geocoded.latitude}},{{this.geocoded.longitude}}&q={{this.geocoded.latitude}},{{this.geocoded.longitude}}&hl=en&t=m&z=12">Google Maps</a> |
		<a href="https://www.openstreetmap.org/?mlat={{this.geocoded.latitude}}&mlon={{this.geocoded.longitude}}&zoom=12&layers=M">OpenStreetMaps</a></p>
</aside>

</div>
{{> footer }}

