* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
}

#wrapper {
	padding: 1rem;
}

header {
	margin-bottom: 2rem;
}

h1 {
	margin-bottom: 0.5rem;
}

ul {
	list-style-position: inside;
}


nav li {
	display: inline;
}

nav li + li:before {
	content: "· ";
}

h2, h3, h4, h5 {
	margin: 1rem 0;
}

p {
	margin-bottom: 1rem;
}

main .contents {
}

aside h2, aside h3 {
	margin-top: 0;
}

aside ul {
	margin: 1rem 0;
}

@media (min-width: 800px) {

	main .contents {
		display: flex;
		align-items: flex-start;
	}

	.contents > div {
		border-right: 1px solid #aaa;
	}

	aside {
		margin-left: 1rem;
		max-width: 30%;
	}

}

footer {
	padding: 1rem 0;
}

body {
	font-family: 'Courier New', monospace;
	font-weight: 700;
}

h1, h2, h3, h4, h5 {
	font-weight: 900;
	text-transform: uppercase;
}

h2, h3, h4, h5 {
	text-decoration-line: underline overline;
	text-decoration-style: wavy;
	text-decoration-color: #ccc;
}

